@page "/Grid"
@inject Blazor.ViewModels.GridViewModel ViewModel
@using Blazor.HtmlElements

<h1>Grid</h1>

<SynergyGridTemplate ViewModel=@ViewModel></SynergyGridTemplate>
<div></div>
@((MarkupString)BuildHtml())


@functions{
    string BuildHtml()
    {
        //TableElement el = new TableElement();
        //el.AddCssClass("table");

        DivElement div = new DivElement();

        Console.WriteLine(typeof(DivElement));
        Console.WriteLine(div.GetType());

        Console.WriteLine(div.Tag);

        Console.WriteLine(div.RenderElement());
        
        InputElement maleRadio = new RadioInputElement("Gender", "Male");
        maleRadio.Attributes.AddAttribute(new ValueAttribute("id", "male"));
        LabelElement maleLabel = new LabelElement("male");
        maleLabel.SetInnerHtmlText("Male");

        InputElement femaleRadio = new RadioInputElement("Gender", "Female");
        femaleRadio.Attributes.AddAttribute(new ValueAttribute("id", "female"));
        LabelElement femaleLabel = new LabelElement("female");
        femaleLabel.SetInnerHtmlText("Female");

        InputElement noneRadio = new RadioInputElement("Gender", "None");
        noneRadio.Attributes.AddAttribute(new ValueAttribute("id", "none"));
        LabelElement noneLabel = new LabelElement("none");
        noneLabel.SetInnerHtmlText("None");

        BreakElement br = new BreakElement();

        //need LabelElement and SpanElement
        div.AddChildElements(maleRadio, maleLabel, femaleRadio, femaleLabel, noneRadio, noneLabel);

        Console.WriteLine(div.RenderElement());
        return div.RenderElement();
    }
}
